body {
    background-color: rgb(238, 212, 241);
    font-family: "Raleway", sans-serif;
}

.name {
    width: 40%;
    float: left;
    padding: 10px;
    margin-left: 50px;
    text-align: center;
}

.name img {
    height: 400px;
    width: 275px;
}

.about-me {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 5px;
    margin-right: 50px;
    padding: 10px;
    width: 40%;
    float: right;
    text-align: center;
}

.about-me p {
    text-align: left;
}

#logo {
    height: 80px;
    width: 80px;
    padding: 10px 10px 0px 10px;
    margin: 5px;
}

.background {
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    width: 40%;
    float: left;
    text-align: center;
}

.background h3 {
    text-align: left;
}

.background ul {
    text-align: left;
}

.projects {
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    margin-right: 65px;
    padding: 10px;
    width: 90%;
    float: right;
}

.repo-links {
    width: 100%;
    float: left;
    margin: 30px;
}

#ghost-hunter {
    width: 400px;
    padding: 5px;
}

#animal-sanctuary {
    width: 400px;
    padding: 5px;
}

#shell-game {
    width: 432px;
    padding: 5px;
}
