
body {
    background-color: rgb(238, 212, 241);
}
.name {
    width: 50%;
    float: left;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.name img {
  height: 400px;
  width: 275px;
  
}

.about-me {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 5px;
    padding: 10px;
    width: 40%;
    float: right;
}

#linkedin-logo {
    height: 30px;
    width: 30px;
}

#github-logo {
    height: 30px;
  
}

.background {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    float: left;
}

.background a {
    text-decoration: none;
    color: rgb(60, 39, 72);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background a:hover {
    color:rgb(32, 70, 66)
}

.projects {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    float: right;
}

.repo-links {
    width:100%;
    float: left;
}
 #ghost-hunter{
    width: 30%;
    padding: 5px;
}

#animal-sanctuary{
    width: 30%;
    padding: 5px;
}

#shell-game{
    width: 30%;
    padding: 5px;
    
}
